<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
     <link rel="stylesheet" href="/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Your Destinations</title>
</head>
<body>
      <%- include('../partials/navbar') %>
  <h1>Your Destinations</h1>

  <ul>
    <% destinations.forEach(destination => { %>
      <li>
        <label>Name:</label> <%= destination.name %> <br>
        <label>Country:</label> <%= destination.country %> <br>
        <label>Visited:</label> <%= destination.visited ? "Yes" : "No" %> <br>
        
        <% if (destination.description) { %>
          <label>Description:</label> <%= destination.description %> <br>
        <% } %>

        <% if (destination.category) { %>
          <label>Category:</label> <%= destination.category %> <br>
        <% } %>

        <% if (destination.datePlanned) { %>
          <label>Planned Date:</label> <%= destination.datePlanned.toDateString() %> <br>
        <% } %>

        <% if (destination.image) { %>
          <label>Image:</label><br>
          <img src="<%= destination.image %>" alt="Destination Image" width="200"/><br>
        <% } %>

        <a href="/destinations/<%= destination._id %>/edit">Edit</a>

        <form class="deleteF" action="/destinations/<%= destination._id %>?_method=DELETE" method="POST">
          <button type="submit" id="deleteBtn">Delete</button>
        </form>
      </li>
      <hr>
    <% }); %>
  </ul>
</body>
</html>
